body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .super-padding {
   padding-top: 7rem;
   padding-bottom: 3rem;
 }

 .feels-button {
   min-width: 200px;
 }
